.App {
  text-align: center;
  background-color: rgb(139, 220, 245);
}
.card-form {
display: flex;
justify-content:space-around;
margin: 5%;
background-color: beige;
}
.form{
  width: 450px;
}
.footer{
  
  background-color: white;
  margin: 5%;
}
.Navbar{
  background-color: white ;
}
.table{
  background-color: antiquewhite;
}
